header.header
    .header__container
        section.header__brand
            h1.header__title.header__title--phone Admin Flexbox
            h1.header__title.header__title--watch AF
        section.header__bar
            section.header__buttons
                i.header__button.header__button--left.fas.fa-arrow-alt-circle-left
                i.header__button.header__button--right.fas.fa-arrow-alt-circle-right
            nav.header__nav
                ul.header__menu
                    li.header__item
                        a.header__link(href="#") Mensajes
                            span.header__bullet 2
                    li.header__item
                        a.header__link(href="#") Alertas
                            span.header__bullet 5
                    li.header__item
                        a.header__link(href="#") Cerrar sesión
