aside.sidebar
    header.sidebar__header
        img.sidebar__avatar(src="https://randomuser.me/api/portraits/med/men/78.jpg" alt="Avatar")
        p.sidebar__name Alejandro González Reyes
        form.sidebar__form
            input.sidebar__input(type="text" name="q" placeholder="Buscar...")
            button.sidebar__button(type="submit")
                i.fas.fa-search
    nav.sidebar__nav
        p.sidebar__title Menú de Administración
        ul.sidebar__menu
            li.sidebar__item
                a.sidebar__link(href="#")
                    i.sidebar__icon.fas.fa-address-book
                    | Clientes
                ul.sidebar__submenu
                    li.sidebar__item
                        a.sidebar__link(href="#")
                            i.sidebar__icon.fas.fa-list
                            | Ver todos
                    li.sidebar__item
                        a.sidebar__link(href="#")
                            i.sidebar__icon.fas.fa-plus
                            | Agregar nuevo
            li.sidebar__item
                a.sidebar__link(href="#")
                    i.sidebar__icon.fas.fa-chart-line
                    | Ventas
                ul.sidebar__submenu
                    li.sidebar__item
                        a.sidebar__link(href="#")
                            i.sidebar__icon.fas.fa-list
                            | Ver todos
                    li.sidebar__item
                        a.sidebar__link(href="#")
                            i.sidebar__icon.fas.fa-plus
                            | Agregar nuevo
            li.sidebar__item
                a.sidebar__link(href="#")
                    i.sidebar__icon.fas.fa-box
                    | Inventario
                ul.sidebar__submenu
                    li.sidebar__item
                        a.sidebar__link(href="#")
                            i.sidebar__icon.fas.fa-list
                            | Ver todos
                    li.sidebar__item
                        a.sidebar__link(href="#")
                            i.sidebar__icon.fas.fa-plus
                            | Agregar nuevo
            li.sidebar__item
                a.sidebar__link(href="#")
                    i.sidebar__icon.fas.fa-file-alt
                    | Facturas
                ul.sidebar__submenu
                    li.sidebar__item
                        a.sidebar__link(href="#")
                            i.sidebar__icon.fas.fa-list
                            | Ver todos
                    li.sidebar__item
                        a.sidebar__link(href="#")
                            i.sidebar__icon.fas.fa-plus
                            | Agregar nuevo
            li.sidebar__item
                a.sidebar__link(href="#")
                    i.sidebar__icon.fas.fa-calendar-alt
                    | Calendario
                ul.sidebar__submenu
                    li.sidebar__item
                        a.sidebar__link(href="#")
                            i.sidebar__icon.fas.fa-list
                            | Ver todos
                    li.sidebar__item
                        a.sidebar__link(href="#")
                            i.sidebar__icon.fas.fa-plus
                            | Agregar nuevo
            li.sidebar__item
                a.sidebar__link(href="#")
                    i.sidebar__icon.fas.fa-pencil-alt
                    | Editar Perfíl
